
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.release-builder-container {
  display: flex;
  flex-direction: column;
  align-self: center;

  padding: 1rem 1rem 1rem 1rem;
  box-shadow: rgb(33, 33, 33) 0 2px 8px -1px, rgba(0, 0, 0, 0.3) 0px 3px 3px -1px;
  border: 2px solid var(--boder-color);
  border-radius: 8px;
  width: 90%;
  max-width: 800px;

  .workflow-container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-right: 1rem;
  }

  .select-repositories-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    .select-repositories-header {
      text-align: center;
      padding: 14px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      border: 1px solid var(--boder-color);
    }

    .select-repositories-body {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

      .repository {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4vh;
        padding: 1.5rem 1.1rem;
        width: 100%;
        border-bottom: 1px solid var(--boder-color);
      }

      .item {
        flex-grow: 0;
        padding-left: 0.7rem;
      }

      .item:first-child {
        flex-basis: 5%;
        padding-left: 0;
      }

      .item:nth-child(2) {
        flex-grow: 1;
        flex-basis: 90%;
      }

      .repository:last-child {
        border-bottom: none;
      }
    }

    .select-repositories-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem;
    }
  }

}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .step-progress {
    width: 10%;
    text-align: center;
    margin-right: 1rem;
  }
}

.icon-div {
  display: flex;
  justify-content: center;
  gap: 0.33rem;
}

.line-below-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 22px 8px 8px;

  .line-below {
    border-left: 3px solid var(--actions-color);
    height: 23px;
  }
}

.app-default-checkbox {
  padding-top: 0.2rem;
}

.default-checkbox-wrapper {
  padding-top: 10px;
}

.select-branches-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1rem;

  .metadata-name {
    width: 20%;
  }

  .metadata-input {
    width: 80%;

    .input {
      width: 100%;
    }
  }

}

