<div class="container">
  <div class="release-builder-container">

    <div class="p-rm-b-1 center-text">
      <!--      <h2 class="white-color bold">Create release</h2>-->
    </div>

    <div class="workflow-container">

      <div class="step">
        <div class="step-progress">
          <app-workflow-checkbox [checked]="isSelectRepositoriesStepCompleted"></app-workflow-checkbox>
        </div>
        <div class="select-repositories-container">
          <div class="select-repositories-header">
            <span class="white-color bold">Select repositories</span>
          </div>
          <div class="select-repositories-body">
            <div class="repository" *ngFor="let repo of repositories">
              <div class="item app-default-checkbox">
                <app-default-checkbox [checked]="false"
                                      (changed)="addRepositoryToSelected($event, repo)">
                </app-default-checkbox>
              </div>
              <div class="name white-color item">
                <a [href]="repo.url" target="_blank">{{ repo.name }}</a>
              </div>
              <div class="white-color item icon-div">
                <a [href]="repo.url + '/pulls'" class="icon-div" target="_blank">
                  <fa-icon [icon]="faCodePullRequest"></fa-icon>
                  {{ repo.pullRequestsCount }}
                </a>
              </div>
              <div class="white-color item icon-div">
                <a [href]="repo.url + '/commits'" class="icon-div" target="_blank">
                  <fa-icon [icon]="faCodeCommit"></fa-icon>
                  {{ repo.commitsCount }}
                </a>
              </div>
            </div>
          </div>
          <div class="select-repositories-footer" *ngIf="!isSelectRepositoriesStepCompleted">
            <div class="button" (click)="completeSelectRepositoriesStep()">
              <button class="btn btn-primary github-button" [disabled]="isNextStepForSelectBranchesDisabled">Next
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="step line-below-container" *ngIf="isSelectBranchesStepShow">
        <div class="step-progress"></div>
        <div class="line-below"></div>
      </div>

      <div class="step select-branches-step" *ngIf="isSelectBranchesStepShow" [@showHide]="'show'">
        <div class="step-progress">
          <app-workflow-checkbox [checked]="isSelectBranchesStepCompleted"></app-workflow-checkbox>
        </div>

        <div class="select-repositories-container">
          <div class="select-repositories-header">
            <span class="white-color bold">Select branches</span>
          </div>
          <div class="select-repositories-body">
            <div class="repository" *ngFor="let repo of selectedRepositories">
              <div class="item">
              </div>
              <div class="name white-color item">
                <a [href]="repo.url" target="_blank">{{ repo.name }}</a>
              </div>
              <div class="white-color item select-branches-container">
                <div class="to-branch">
                  <app-select [values]="repo.branches" (selected)="selectBranchTo($event, repo)"></app-select>
                </div>
                <div class="branches-arrow">
                  <fa-icon [icon]="faArrowLeftLong"></fa-icon>
                </div>
                <div class="from-branch">
                  <app-select [values]="repo.branches" (selected)="selectBranchFrom($event, repo)"></app-select>
                </div>
              </div>
            </div>
          </div>
          <div class="select-repositories-footer" *ngIf="!isSelectBranchesStepCompleted">
            <div class="button" (click)="completeSelectBranchesStep()">
              <button class="btn btn-primary github-button">Next
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="step line-below-container" *ngIf="isMetadataStepShow">
        <div class="step-progress"></div>
        <div class="line-below"></div>
      </div>

      <div class="step" *ngIf="isMetadataStepShow" [@showHide]="'show'">
        <div class="step-progress">
          <app-workflow-checkbox [checked]="isMetadataStepCompleted"></app-workflow-checkbox>
        </div>

        <div class="select-repositories-container">
          <div class="select-repositories-header">
            <span class="white-color bold">Fill release metadata</span>
          </div>
          <div class="select-repositories-body">
            <div class="metadata">
              <div class="item">
              </div>
              <div class="name white-color metadata-name">
                Release name
              </div>
              <div class="name white-color metadata-input">
                <input type="text" class="input" [(ngModel)]="releaseName" (input)="onReleaseNameInput()">
              </div>
            </div>
            <div class="metadata">
              <div class="item">
              </div>
              <div class="name white-color metadata-name">
                PR name
              </div>
              <div class="name white-color metadata-input">
                <input type="text" class="input" [(ngModel)]="pullRequestName" (input)="onPullRequestNameInput()">
              </div>
            </div>
          </div>
          <div class="select-repositories-footer">
            <div class="button">
              <button class="btn btn-primary github-button" [disabled]="!isMetadataStepCompleted">Create</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
