//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #22272E;
  --boder-color: #a1a1a1;
  --text-color: #e5e5e5;
  --checkbox-color: #26a212;
  --actions-color: #26a212;
  --link-color: #5087fa;
  --actions-hover-color: #29c010;
  --actions-click-color: #1f940c;
}

body {
  background: var(--main-color);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.white-color {
  color: var(--text-color);
}

.bold {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.p-rm-b-1 {
  padding-bottom: 1rem;
}

.btn {
  padding: 0.5rem 1.4rem;
  border: none;
  background-color: var(--actions-color);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-right: 1rem;
}

.btn:hover {
  background-color: var(--actions-hover-color);
}

.btn:active {
  transform: scale(0.98);
  background-color: var(--actions-click-color);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.disable-manual {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background: var(--boder-color);
  border-radius: 2px;
}

.input {
  border: 1px solid var(--boder-color);
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--main-color);
  transition: border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:focus {
    outline: none;
    border-color: #0366d6;
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
  }
}
